<div class="container">
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'news'}}News{{/link-to}}</li>
      <li>{{#link-to 'news'}}BananaCage{{/link-to}}</li>
      <li>{{#link-to 'news'}}Nicholas Cupcage{{/link-to}}</li>
      <li>{{#link-to 'news'}}NickET{{/link-to}}</li>
      <li>{{#link-to 'news'}}PizzaCage{{/link-to}}</li>
      <li>{{#link-to 'news'}}PuppyNick{{/link-to}}</li>
      <li>{{#link-to 'news'}}NickQueen{{/link-to}}</li>
    </ul>

      {{view "select" content=names}}

    </nav>

    {{outlet}}
  </div>
