<h1>Cage News</h1>

<div id='myCarousel' class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>

  <div class='carousel-inner' role="listbox">
    <div class="item active">
      <a href="#/banana">
        <img src="http://i.imgur.com/ZQ5AKC7.jpg">
      </a>
    </div>

    <div class="item">
      <a href="#/pizza">
        <img src="http://media-cdn.tripadvisor.com/media/photo-s/05/ea/8a/74/pizza-nicolas-cage-by.jpg">
      </a>
    </div>

    <div class="item">
      <a href="#/cupcake">
        <img src="http://static.tumblr.com/yn3v7bi/0dEm8swhg/nicolas_cupcage.jpg">
      </a>
    </div>

    <div class="item">
      <a href="#/puppies">
        <img src="http://images.complex.com/complex/image/upload/t_article_image/u6lyomnatqzjsxpehvzz.jpg">
      </a>
    </div>

    <div class="item">
      <a href="#/queen">
        <img src="https://s-media-cache-ak0.pinimg.com/236x/ac/db/11/acdb1190e7bff37a5f64a17efd38cf08.jpg">
      </a>
    </div>

    <div class="item">
      <a href="#/ET">
        <img src="http://cdn29.elitedaily.com/wp-content/uploads/2014/01/nic-cage-everyone-11.jpg">
      </a>
    </div>
  </div>


  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>


  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<p>Test</p>
